<div class="form-group">
	<label>Fanpejcz ID (w adresie fanpaga dluga liczba)</label>
	<input ng-model='fanpageId' class="form-control" type='text'/>
</div>
<div class="form-group">
	<label>Limit postów</label>
	<input ng-model='limit' class="form-control" type='text'/>
</div>

<div class="form-group">
	<button class='btn btn-large btn-success' ng-click='saveFanpageId(fanpageId); loadPosts()'>Załaduj posty</button>
	<button ng-if='next' class='btn btn-large btn-primary' ng-click='loadPosts(next)'>
		<< Załaduj poprzednie posty</button>
	<button ng-if='previous' class='btn btn-large btn-primary' ng-click='loadPosts(previous)'>
		Załaduj następne posty >></button>
</div>


<div class='row'>
	<div class="col-sm-6">
		<table class='table'>
			<tr>
				<th>Post</th>
				<th>Data utworzenia</th>
			</tr>
			<tr ng-repeat='post in posts'>
				<td>{{ post.message }}</td>
				<td>{{ post.created_time | date : 'd/M/yyyy H:m'}}</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-6">
		<div class="well">
			<a target='_blank' href="http://stackoverflow.com/questions/452859/inserting-multiple-rows-in-a-single-sql-query">pomoc</a> jak wstawiać wiersze do bazy
		</div>
		<div class="form-group">
			<label>Początek SQL'a</label>
			<textarea ng-change='updateSql()'  ng-model='sqlStart' class='form-control'></textarea>
		</div>
		<div class="form-group">
			<label>SQL dla każdego postu</label>
			<p class='text-muted'>Możesz użyć <code ng-non-bindable>{{message}} i {{created_time}}</code></p>
			<textarea ng-change='updateSql()' ng-model='sqlBody' class='form-control'></textarea>
		</div>
		<div class="form-group">
			<label>Koniec SQL'a</label>
			<textarea ng-change='updateSql()' ng-model='sqlEnd' class='form-control'></textarea>
		</div>
		<hr>
		<div class="form-group">
			<label>Wynik</label>
			<p class='text-muted'>to zapytanie wykonaj sobie pozniej jakos do bazy, np DBeaver'em</p>
			<textarea ng-model='sqlResult' class='form-control' rows='100'>{{sqlBody}}</textarea>
		</div>

	</div>
</div>