<div class='well'>
Pod linkiem <a target="_blank" href="https://developers.facebook.com/apps/">https://developers.facebook.com/apps/</a> stwórz appke, w settingsach nadaj jej odpowiednią domenę, platforma website, skopiuj <strong>App ID</strong> i <strong>App Secret</strong>.
</div>

<div class="form-group">
	<label>App Id</label>
	<input ng-model='appId' class="form-control" type='text'/>
</div>
<div class="form-group">
	<label>App Secret</label>
	<input ng-model='appSecret'  class="form-control" type='text'/>
</div>
<div class="form-group">
	<button class='btn btn-lg btn-primary' ng-click='saveSettings()'>Zapisz ustawienia</button>
</div>